/*
  By: Hopkins; 
  Date: 2017-08-14;
  github: http://github.com/hopkins0;
*/

.equipo-ranking{
  width: 60px;
  max-width: 60px;
  min-width: 40px;
  text-align: center;
}

.equipo-nombre{
  text-align: center; 
}

.equipo-aceptados{
  width: 120px;
  max-width: 120px;
  min-width: 100px;
  text-align: center; 
}
.equipo-time{
  width: 80px;
  max-width: 100px;
  min-width: 80px;
  text-align: center;
}
.problema{
  width: 5%;
  max-width: 100px;
  min-width: 40;  
  text-align: center;
}

.FPS{
  background-color: #FFB800 ! important;
}
.FPAC{
  background-color: #1D8806  ! important;
}
.ACC{
  /*background-color: #33cc33  ! important;*/
  background-color: #75DA3D  ! important;
}


.WA{
  background-color: #B32200  ! important;
}

.JD{
  background-color: #8484FE  ! important;
}

.information{
  width: 50%;
  align-content: center;
}

table > tbody > tr > td{
  /*width: 40px ! important;*/
  /*max-width: 40px ! important;*/
  text-align: center;
}
table > tbody > tr > th{
  text-align: center;
}