
/*
  By: Hopkins; 
  Date: 2017-08-14;
  github: http://github.com/hopkins0;
*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom has to be the same as footer height */
}
footer {
    background-color: #f5f5f5;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:5px;
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}





.equipo-ranking{
  width: 60px;
  max-width: 60px;
  min-width: 40px;
  text-align: center;
}

.equipo-nombre{
  text-align: center; 
}

.equipo-aceptados{
  width: 10%;
  /*max-width: 120px;*/
  /*min-width: 100px;*/
  text-align: center; 
}
.equipo-time{
  width: 10%;
  /*max-width: 100px;*/
  /*min-width: 80px;*/
  text-align: center;
}
.problema{
  width: 5%;
  /*max-width: 100px;*/
  min-width: 60px;  
  text-align: center;
}

.FPS{
  background-color: #FFB800 ! important;
}
.FPAC{
  background-color: #1D8806  ! important;
  color: white;
}
.ACC{
  /*background-color: #33cc33  ! important;*/
  background-color: #75DA3D  ! important;
}


.WA{
  background-color: #EE7F75  ! important;
}

.JD{
  background-color: #8484FE  ! important;
}

.information{
  width: 50%;
  align-content: center;
}

table > tbody > tr > td{
  /*width: 40px ! important;*/
  /*max-width: 40px ! important;*/
  text-align: center;
}
table > tbody > tr > th{
  text-align: center;
}